<!doctype html>
<html>
    <head>
        <title>{{title}}</title>
        <style>
            .error {
                color: red;
            }
            h1 {
                text-align: center;
            }

            input {
                display: block;
            }

            textarea {
                display: block;
            }

        </style>
    </head>
<body>

    <div class="link">
        <h3><a href='/blog'>Main Blog Page</a></h3>
    </div>

    <div class="link">
        <h3><a href='/newpost'>Add a Blog Post</a></h3>
    </div>

    {% block content %}
    {% endblock %}

</body>
</html>