{% extends "base.html" %}

{% block content %}
    <h1>Add a New Post</h1>
    <form action="/newpost" method='post'>
        <p>
            <label for="blog_title">Title of New Post</label>
            <input type="text" name="blog_title" value="{{blog_title}}"/>
            <div class="error">{{title_error}}</div>
        </p>
        <p>
            <label for="blog_body">New Blog Post</label>
            <textarea type="text" id="blog_body" name="blog_body" value="{{blog_body}}"></textarea>
            <div class="error">{{entry_error}}</div>
        </p>            
        <input type="submit" value="Add Entry"/>
        </p>
    </form>

    
    

{% endblock %}

